{% block content %}
    <div class="form-group">
        <label for="name">{{ form_label(form.name) }}</label>
        {{ form_widget(form.name,{ 'attr': {'class': 'form-control'} }) }}
        <small class="form-text text-muted">{{ form_errors(form.name) }}</small>
    </div>

    {{ form_widget(form.save, { 'label': 'Save','attr': {'class': 'btn btn-primary'} }) }}

    {{ form_widget(form._token) }}


{% endblock %}

